                            .header{
                                background-color: rgb(81, 78, 73);
                                position: fixed;
                                display: flex;
                                top: 0;
                                height: 55px;
                                left: 0;
                                right: 0;
                                align-items: center;
                                justify-content: space-between;
                                
                                font-weight: 700;
                                z-index: 100;
                            }
                            .left-section{
                            display: flex;
                            flex: 1;
                            max-width: 200px;
                            color: white;
                            font-size: 32px;
                            padding-left: 12px;
                            }
                            .right-section{
                                display: flex;
                            width: 100%;
                            max-width: 1000px;
                            
                            
                            flex-shrink: 0;
                                justify-content: space-between;
                                align-items: center;}
                                .right-section a{
                                    color: aliceblue;
                                    margin-right: 2rem;
                                }
                                .right-section a:hover{
                                    color: rgb(130, 232, 232);

                                }